@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: black;
}

/* Body Styles */
body {
  color: var(--text); /* Changed to var(--text) to ensure it refers to the text color defined in :root */
  background: var(--background); /* Changed to var(--background) for background */
  font-family: 'Poppins', sans-serif; /* Ensure you use quotes for font-family */
}

/* Custom responsive utility classes (Optional) */
@media (max-width: 640px) {
  /* Styles for small devices */
  .hero-section {
    padding: 20px;
    margin-bottom: 10px; /* Adjust padding for smaller screens */
  }
}

@media (min-width: 640px) {
  /* Styles for small devices and up */
  .hero-section {
    padding: 40px; /* Adjust padding for medium screens */
  }
}

@media (min-width: 768px) {
  /* Styles for medium devices and up */
  .hero-section {
    padding: 60px; /* Adjust padding for large screens */
  }
}

@media (min-width: 1024px) {
  /* Styles for large devices and up */
  .hero-section {
    padding: 80px; /* Adjust padding for extra-large screens */
  }
}
